
html, body {
  height: 100%;
}

#root {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}



.form {
  padding: 1em;
}

label {
  font-weight: 600;
}

.button {
  margin-top: 2em;
  margin-bottom: 2em;
  color: #629460;
}

.textField {
  color: #629460;
}

.clockIcon {
  transform: scale(1.8);
}